<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<a th:href="@{/oauth2/login/github}">Github Login</a> <br>
<a th:href="@{/oauth2/login/kakao}">Kakao Login</a> <br>
<a th:href="@{/oauth2/login/google}">Google Login</a> <br>
<a th:href="@{/oauth2/login}"> 통합</a> <br>
<a th:href="@{/user}"> 로그인한 유저만 사용 가능</a> <br>

<div th:if="${session.user != null}">
    [[${session.user.email}]],[[${session.user.name}]] <a th:href="@{/logout}">logout</a>
</div>
</body>

</html>